.krush-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    .logo-text {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }
}
