@import "../../variables.scss";

.category-preview {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: flex-end;

  .category-side {
    h1 {
      font-size: 32px;
      margin: 0;
      margin-bottom: 24px;
      text-decoration: underline;
    }
    .category-box {
      width: 300px;
      height: 400px;
      background-color: $grey-100;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      border-radius: 12px;
      overflow: hidden;
      position: relative;

      .image-category {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
      }

      .category-body-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
      }

      &:hover {
        .image-category {
          transform: scale(1.1);
        }
      }
    }
  }

  .preview-side {
    flex: 1;
    //height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .category-list-container {
      display: flex;
      gap: 12px;

      .category-link {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin: 0;
        color: $grey-200;
        cursor: pointer;
        transition: 0.2s color;
        height: max-content;

        &:hover {
          color: $brand-color;
        }

        &.active {
          color: black;
          cursor: default;
        }
      }
    }

    .article-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 16px;
      .article {
        background-color: $grey-100;
        height: 270px;
        border-radius: 12px;
      }
    }
  }
  .transition {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeInAnimation {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
