@import '../../variables.scss';

.cart-icon {
    width: 40px;
    height: 40px;
    display: flex;

    i {
        font-size: 35px;
        margin: auto;
    }
    .item-amount-wrapper {
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;

        .item-amount {
            width: max-content;
            height: max-content;
            padding: 4px;
            font-size: 10px;
            line-height: 8px;
            margin: auto;
            position: relative;
            top: 4px;
            text-align: center;
            background-color: $brand-color;
            color: white;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}

.cart-content {
    padding: 8px 12px;
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    .list {
        height: auto;
        flex: 1;
        max-height: 360px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: scroll;

        .cart-item {
            padding-bottom: 8px;
            border-bottom: solid 1px $grey-200;
            &:last-of-type {
                border: none;
            }
        }
    }
    .empty-cart-message {
        text-align: center;
        align-self: center;
        margin: auto;
        color: $grey-200;
    }

    .sub-total-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            text-transform: uppercase;
            margin: 0;
            color: $grey-400;
            font-weight: 500;
        }
        h3 {
            margin: 0;
        }
    }
    .button {
        width: 100%;
        text-align: center;
    }
}
