@import "../../variables.scss";

.article {
  .image-article {
    width: 222px;
    height: 262px;
    margin: auto;
    background-size: cover;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;

    .like-button {
      margin-left: auto;
      float: right;
    }
  }
  .article-name {
    margin: 0;
    text-align: left;
    font-weight: 600;
  }
  .article-price {
    margin: 0;
    text-align: left;
    color: $brand-color;
    font-size: 16px;
  }
}
