@import '../../variables.scss';

.product-card {
    height: 30vw;
    max-width: 312px;
    max-height: 445px;
    display: flex;
    flex-direction: column;

    a {
        height: 100%;
        width: 100%;
    }
    .image-article {
        width: calc(100% - 8px * 2);
        flex: 6;
        margin: auto;
        background-size: cover;
        background-position: center;
        padding: 8px;
        margin-bottom: 8px;
        cursor: pointer;
        display: block;
        position: relative;
        border-radius: 12px;
        height: 100%;

        .like-button {
            margin-left: auto;
            float: right;
        }

        .bestseller-label {
            width: max-content;
            position: absolute;
            bottom: 20px;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            align-self: flex-end;
            padding: 2px 8px;
            font-size: 12px;
            border-radius: 20px 0 0 20px;
        }
    }
    .article-details-container {
        flex: 1;
        .article-name {
            margin: 0;
            text-align: left;
            font-weight: 600;
            color: $grey-900;
            font-size: 20px;
            margin-top: 12px;
        }
        .article-price {
            margin: 0;
            text-align: left;
            color: $brand-color;
            font-size: 16px;
        }
    }

    @media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {
        height: 40vw;
    }

    @media (min-width: 1px) and (max-width: $md-breakpoint) {
        width: 44vw;
        height: 68vw;
        @media (min-width: 1px) and (max-width: $sm-breakpoint) {
            width: 42vw;
        }
        .image-article {
            border-radius: 8px;
            margin-bottom: 4px;
        }
        .article-details-container {
            .article-name {
                font-size: 16px;
                line-height: 16px;
            }
            .article-price {
                font-size: 12px;
            }
        }
    }
}
