@import '../../variables.scss';

.auth-view {
    padding: 50px 0;
    min-height: calc(100vh - 50px * 2);

    .krush-logo {
        margin: auto;
        margin-bottom: 30px;
    }
    .auth-container {
        width: calc(100% - 20px * 4);
        max-width: 600px;
        padding: 20px 20px 40px 20px;
        margin: 0 20px;
        border-radius: 16px;
        background-color: white;
        box-shadow: 5px 5px 20px lighten($grey-200, 15%);

        margin: auto;

        .links-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            a {
                text-transform: uppercase;
                font-size: 20px;
                text-align: center;
                width: 100%;
                margin: auto;
                border-bottom: solid 2px $grey-100;
                color: $grey-200;
                h4 {
                    margin: 12px 0;
                    font-family: 'Lemon Milk';
                    font-size: 16px;
                }

                &.active {
                    border-color: $brand-color;
                    color: $grey-900;
                }
            }
        }

        .form {
            max-width: 400px;
            width: 100%;
            margin: auto;
        }
    }
}
