@import '../../variables.scss';

.product-gallery {
    display: flex;
    gap: 20px;
    .active-slide {
        width: 400px;
        height: 400px;
        background-color: $grey-100;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        .slide-control-btn {
            height: 100%;
            background-color: transparent;
            border: none;
            padding: 0 14px;
            opacity: 0.5;
            transition: opacity 0.3s;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
            i {
                font-size: 50px;
                color: black;
                opacity: 0.5;
            }
        }
    }

    .slide-container {
        width: 100px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .slide-wrapper {
            width: 100px;
            height: 180px;

            background-color: rgb(40, 40, 40);
            &.active {
                background-color: white;
                .slide {
                    opacity: 0.8;
                }
            }

            .slide {
                width: 100%;
                height: 100%;
                opacity: 0.5;

                background-size: cover;
                background-position: center;
                cursor: pointer;
                transition: opacity 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    @media (min-width: 1px) and (max-width: 600px) {
        flex-direction: column-reverse;
        gap: 8px;
        .active-slide {
            width: 100%;
        }
        .slide-container {
            flex-direction: row;
            width: 100%;
            height: 100px;
            gap: 8px;

            .slide-wrapper {
                flex: 1;
                height: 100%;
                .slide {
                    background-color: $grey-100;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}
