@import "../../variables.scss";

.promo-bar {
  margin-bottom: 80px;
  padding: 20px;
  background-image: url("https://img.freepik.com/free-vector/pink-pattern-background-wallpaper-lightning-bolt-illustration-vector_53876-140171.jpg?w=1480&t=st=1692126893~exp=1692127493~hmac=bc68062a5611c71fa8e5450446dd1255c0b8f0c601fbf2f444d9351ae6156295");
  //background-image: url("../../assets/images/abstract-patterns/abstract-bg.svg");
  //background-image: url("https://i.pinimg.com/564x/d7/91/e9/d791e9d043157103db074c2974718ef4.jpg");
  background-color: $grey-100;
  background-repeat: no-repeat;
  //background-position: center;
  background-size: cover;
  position: relative;
  height: 262px;
  display: flex;
  border-radius: 20px;

  // h2 {
  //   text-align: center;
  //   color: white;
  //   text-shadow: black 2px 2px;
  //   width: max-content;
  //   margin: auto;
  //   background-color: rgb(255, 242, 54);
  //   padding: 0 10px;
  //   font-style: italic;
  // }
  .catching-phrase {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    max-width: 500px;
    text-align: left;
    margin: 0;
    color: white;
    text-shadow: 3px 3px 0px black;
  }
}
