@import '../../variables.scss';

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    transition: 0.2s border;
    border: solid 2px $grey-100;

    input[type='text'] {
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;

        &::placeholder {
            color: $grey-200;
        }
    }
    &:focus-within {
        outline-style: solid;
        outline-width: 2px;
        outline-color: $outline-color;
        outline-offset: 1px;
    }

    i {
        color: $grey-200;
    }
}
