nav {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
  .logo {
    font-size: 15px;
    font-weight: bold;
  }
  .nav-content {
    display: flex;
    gap: 20px;
  }
}
