@import "../../variables.scss";

nav {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
  .logo {
    font-size: 15px;
    font-weight: bold;
  }
  .nav-content {
    display: flex;
    gap: 20px;
  }

  .nav-link {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    transition: background 0.3s transform 0.3s;
    cursor: pointer;
    i {
      font-size: 30px;
      margin: auto;
      color: $dark-grey;
    }
    &:hover {
      background-color: $light-grey;
      i {
        color: $brand-color;
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
