@import '../../variables.scss';

.cart-item {
    display: flex;
    gap: 8px;
    width: 100%;

    .item-image {
        width: 60px;
        height: 80px;
        background-color: $grey-300;
        background-size: cover;
        background-position: center;
    }
    .item-data {
        flex: 1;
        .item-name {
            margin: 0;
            font-size: 20px;
        }
        .item-price-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 16px;
                margin: 0;
            }
        }
    }
}
