@import '../../variables.scss';

.cart-item {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: stretch;

    .item-image {
        width: 60px;
        height: 80px;
        background-color: $grey-300;
        background-size: cover;
        background-position: center;
    }
    .item-data {
        flex: 1;
        .item-name {
            margin: 0;
            font-size: 20px;
        }
        .item-price-amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            bottom: -4px;
            p {
                font-size: 16px;
                margin: 0;
            }
        }
    }
    .delete-item {
        display: flex;
        align-items: flex-end;

        button {
            background-color: transparent;
            border: none;
        }
        i {
            color: $grey-400;
            transform: color 0.3s;
            cursor: pointer;
            font-size: 24px;
            &:hover {
                color: $grey-800;
            }
        }
    }
}
