@import '../../variables.scss';

footer {
    background-color: $grey-900;
    color: white;
    padding: 20px;
    min-height: 200px;
    .main-content {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .dev {
        font-size: 12px;
        color: $grey-400;
    }
}
