@import '../../variables.scss';

.like-button {
    background-color: white;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    i {
        margin: auto;
        font-size: 24px;
        color: $grey-200;

        &.active {
            color: $brand-color;
        }
    }
    &:hover {
        color: $brand-color;
    }

    &:active {
        transform: scale(0.8);
    }
}
