@import '../../variables.scss';

.category-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
        text-decoration: none;
    }
    .category-link {
        text-transform: uppercase;
        min-width: 200px;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        margin: 0;
        color: $grey-900;
        cursor: pointer;
        transition: 0.2s background-color;
        background-color: $grey-100;
        padding: 16px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;

        p {
            margin: auto;
            font-size: 16px;
            transition: 0.2s color;
            color: $grey-800;
        }

        i {
            font-size: 24px;
        }

        &:hover {
            color: $brand-color;
            background-color: #ffdce2;
            p {
                color: $brand-color;
            }
        }

        &.active {
            color: white;
            cursor: default;
            background-color: $brand-color;
            p {
                color: white;
            }
        }
    }

    @media (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
        max-width: calc(100vw - 20px * 2);
        flex-direction: row;
        flex-wrap: wrap;
        .category-link {
            width: max-content;
            min-width: unset;
            padding: 0 10px;
            gap: 8px;
        }
    }

    @media (min-width: 1px) and (max-width: $sm-breakpoint) {
        width: calc(100vw + 40px);
        max-width: 100vw;
        position: relative;
        left: -20px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .category-link {
            width: max-content;
            min-width: unset;
            padding: 0 10px;
            height: 24px;
            gap: 8px;
            p {
                margin: auto;

                font-size: 12px;
                transition: 0.2s color;
            }
            i {
                font-size: 16px;
            }

            &:first-child {
                margin-left: 20px;
            }

            &:last-child {
                margin-right: 20px;
            }
        }
    }
}
