@import '../../variables.scss';

.category-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .category-link {
        text-transform: uppercase;
        min-width: 200px;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        margin: 0;
        color: $grey-900;
        cursor: pointer;
        transition: 0.2s background-color;
        background-color: $grey-100;
        padding: 16px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;

        p {
            margin: auto;
            font-size: 16px;
            transition: 0.2s color;
        }

        i {
            font-size: 24px;
        }

        &:hover {
            color: $brand-color;
            background-color: #ffdce2;
        }

        &.active {
            color: white;
            cursor: default;
            background-color: $brand-color;
        }
    }
}
