.page-content {
    max-width: 1280px;
    margin: auto auto 80px auto;
    text-align: center;
    padding: 0 60px;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
