@import '../../../variables.scss';

.form {
    h2 {
        text-align: center;
    }
    .link-forgot-password {
        text-align: center;
        margin: auto;
        color: $grey-400;
    }

    h4 {
        text-align: center;
        margin: 12px 0;
        font-size: 20px;
        color: $grey-800;
        font-weight: 600;
    }

    h5 {
        //text-transform: uppercase;
        text-align: center;
        margin: 12px 0;
        //font-family: 'Lemon Milk';
        font-size: 16px;
        color: $grey-800;
        font-weight: 600;
    }

    .social-buttons-container {
        .buttons {
            width: max-content;
            margin: auto;
            display: flex;
            gap: 20px;
        }
        &.border-top {
            border-top: solid 1px $grey-100;
        }
        &.border-bottom {
            border-bottom: solid 1px $grey-100;
            padding-bottom: 20px;
        }
    }
}
